
.content-wrapper {
  padding: 20px;

  > .container-fluid {
    background: #fff;
    padding: 0;
    margin-bottom: 20px;
  }

  .content {
    padding: 16px;
  }
}

.container-limited {
  max-width: $screen-lg;
  // padding: 16px;
}
